@model AppealWeb.Models.UserModel

@{
    ViewBag.Title = "Регистрация";
}

<h2>Регистрация</h2>

@*@using (Html.BeginForm("Create", "Users", null, FormMethod.Post, new { id = "userForm", name = "userForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />

            <div class="form-group">
                <div class="col-md-10">
                    <label>Имя пользователя</label>
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", id = "Username" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <label>Почта</label>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", id = "Email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <label>Пароль</label>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", id = "Password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <label>Подтвердите пароль</label>
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", id = "PasswordConf" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md col-md-10">
                    <input id="submitBtn" type="button" value="Зарегистрироватся" class="btn btn-primary" />
                    @Html.ActionLink("Отмена", "Index", "Home", null, new { @class = "btn btn-default" })
                </div>
            </div>

        </div>
    }*@

<div class="form-horizontal">
    <hr />

    <div class="form-group">
        <div class="col-md-10">
            <label>Имя пользователя</label>
            <input id="Username" name="Username" class="form-control" data-bind="text: Username" />
            @*@Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", id = "Username" } })*@
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label>Почта</label>
            <input id="Email" name="Email" class="form-control" data-bind="text: Email" />
            @*@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", id = "Email" } })*@
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label>Пароль</label>
            <input id="Password" name="Password" class="form-control" data-bind="text: Password" />
            @*@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", id = "Password" } })*@
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label>Подтвердите пароль</label>
            <input id="PassConfirm" name="PassConfirm" class="form-control" data-bind="text: ConfirmPassword" />
            @*@Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", id = "PasswordConf" } })*@
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md col-md-10">
            <input id="submitBtn" type="button" value="Зарегистрироватся" class="btn btn-primary" />
            @Html.ActionLink("Отмена", "Index", "Home", null, new { @class = "btn btn-default" })
        </div>
    </div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
<script type="text/javascript">

    var userModel = {
        Username: ko.observable("adminadimn"),
        Email: ko.observable("@@"),
        Password: ko.observable("qwer1234"),
        ConfirmPassword: ko.observable("qwer1234")
    }
    ko.applyBindings(userModel);

    $(function () {
        $("#submitBtn").click(function () {
            var data = {
                Username: userModel.Username(),
                Email: userModel.Email(),
                Password: userModel.Password(),
                ConfirmPassword: userModel.ConfirmPassword()
            };

            $.post("/Users/Create", data, function (result) {
                if (result.IsSuccess) {
                    alert("Ваша учетная запись успешно создана!");
                    location.pathname = "/Home/Index/";
                }
                else {
                    $('#Username').before("<div class=\"alert alert-danger\">" +
                        result.ErrorMsg
                        + "</div>")
                }
            })
        })
    })
</script>